.about{
    color: white;
    padding: 20px;
    min-height: 250px;
    background-color:#171f32 ;
    background-image: url(/img/Retreat-centre-1.png);
}
.img{
    width: 280px;
    height: 160px;
    border-radius: 10px;
    transition: transform 70s;
}
.img:hover{
    transform: scale(-3.5);
    
}
.container1{
    margin-left: 180px;
}
.imges{
    margin: 20px;
    padding: 10px;
    width: 320px;
    /* border: 0.5px solid black; */
}
.Texts p{
    margin-top: 40px;
    font-size: 15px;
    font-weight: 500;
}