.navBAR1{
    background-color: rgb(232, 41, 41);
    min-height: 50px;
    color: white;
    padding: 20px;
    white-space: nowrap;
}
.email{
    border-right: 2px solid white;
    min-height: 50px;
    min-width: 250px;
}
/* .main{
    min-width: 50px;
} */
/* .navBAR>*{
    background-color: brown;
} */
.text{
    width: 100vw;
}
/* .section1{
    border-right: 2px solid white;
} */
.navBAR2{
    min-height: 10px;
}
ol li{
    list-style: none;
}
body{
    overflow-x: hidden;
}
.ABOUTpage{
    background-color: #E3ECEF;
    margin-top:100px;
    padding: 50px;
}
.more-about-us{
    border: 2px solid white;
    margin-top: 50px;
}